%% erlang -*-
{erl_opts, [debug_info]}.

{sub_dirs, ["rel"]}.

{deps_dir, ["deps"]}.

{cover_enabled, true}.

{deps, []}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{pre_hooks, [{compile, "scripts/pre_compile.sh"}
            ]}.

{post_hooks, [{compile, "scripts/post_compile.sh"}
            ]}.

{xref_checks, [undefined_function_calls]}.

{plugins, []}.
