[
    {rds_la,
        [
            {cluster_nodes, []},
            {proxy_id_list, [{"0", 'rds_proxy@127.0.0.1'}]},
            {rds_la_indexers, [rds_la_indexer_sql_dumpslow, rds_la_indexer_sql_stats]},
            {rds_la_log_max_kept_days, 30},
            {rds_la_dump_slow_topn, 100},

            {rds_la_controller,
                [
                    [
                        {node, 'rds_la_controller@127.0.0.1'},
                        {port, 9016}
                    ]
                ]
            },
            {rds_la_client,
                [
                    [
                        {node, 'rds_la_client@127.0.0.1'}
                    ]
                ]
            },
            {rds_la_store,
                [
                    [
                        {node, 'rds_la_store@127.0.0.1'},
                        {dir, "/var/ladir"},
                        {port, 9018}
                    ]
                ]
            }
        ]
    }
].
