[
 {kernel, [{check_ip, true},
           {inet_default_listen_options, [{nodelay,true}]},
           {inet_default_connect_options, [{nodelay,true}]},
           {inet_dist_listen_min, 4096},
           {inet_dist_listen_max, 8192}
          ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "/tmp/rds_la/log/sasl.log"}},
         {errlog_type, all},
         {error_logger_mf_dir, "/tmp/rds_la/log/sasl"}, % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {os_mon, [{start_cpu_sup, true},
          {start_disksup, true},
          {start_memsup, true},
          {disk_almost_full_threshold, 0.8},
          {disk_space_check_interval, 1},
          {memory_check_interval, 1},
          {system_memory_high_watermark, 0.8},
          {process_memory_high_watermark, 0.05}
         ]},

 {mnesia,[{dir, "/tmp/rds_la/mnesia"}
    	 ]},

 {rds_la,
     [
         {cluster_nodes, []},
         {proxy_id_list, [{"0", 'rds_proxy@127.0.0.1'}]},
         {rds_la_indexers, [rds_la_indexer_sql_dumpslow, rds_la_indexer_sql_stats]},
         {rds_la_dump_slow_topn, 100},
         {rds_la_log_max_kept_days, 30},
         {rds_la_controller,
             [
                 [
                     {node, 'rds_la_append@127.0.0.1'},
                     {port, 9016}
                 ]
             ]
         },
         {rds_la_client,
             [
                 [{node, 'rds_la_client@127.0.0.1'}]
             ]
         },
         {rds_la_store,
             [
                 [
                     {node, 'rds_la_query@127.0.0.1'},
                     {dir, "/tmp/rds_la/ladir"},
                     {port, 9018}
                 ]
             ]
         }
     ]
 }

].
